#footer
  #top.noprint
    %p
      %span.noscreen Back on top
      %a{:href => "#header", :title => "Back on top ^"}
        ^
        %span
  %hr.noscreen/
  %p#createdby
    created by
    %a{:href => "http://www.nuvio.cz"} Nuvio | Webdesign
    / DON´T REMOVE, PLEASE!
  %p#copyright
    \&copy; 2007
    %a{:href => "mailto:typpex@gmail.com"} VERBEKE Romain