#tabs.noprint
  %h3.noscreen Navigation
  %ul.box
    %li
      %a{:href => "#"}
        Home
        %span.tab-l
        %span.tab-r
    %li#active
      %a{:href => "#"}
        Weblog
        %span.tab-l
        %span.tab-r
    / Active
    %li
      %a{:href => "#"}
        About Me
        %span.tab-l
        %span.tab-r
    %li
      %a{:href => "#"}
        Photos
        %span.tab-l
        %span.tab-r
    %li
      %a{:href => "#"}
        Portfolio
        %span.tab-l
        %span.tab-r
    %li
      %a{:href => "#"}
        Contact
        %span.tab-l
        %span.tab-r
    %li
      %a{:href => "#"}
        Links
        %span.tab-l
        %span.tab-r
  %hr.noscreen/