#col.noprint
  #col-in
    / About Me
    %h3
      %span
        %a{:href => "#"} About Me
    #about-me
      %p
        %img#me{:alt => "Yeah, it´s me!", :src => "/assets/tmp_photo.gif"}/
        %strong Romain VERBEKE
        %br/
        Age: 24
        %br/
        North Point, Hong Kong
    / /about-me
    %hr.noscreen/
    / Category
    %h3
      %span Category
    %ul#category
      %li#category-active
        %a{:href => "#"} Selected category
      / Active
      %li
        %a{:href => "#"} Category
      %li
        %a{:href => "#"} Category
      %li
        %a{:href => "#"} Category
      %li
        %a{:href => "#"} Category
    %hr.noscreen/
    / Archive
    %h3
      %span Archive
    %ul#archive
      %li
        %a{:href => "#"} January 2007
      %li
        %a{:href => "#"} December 2006
      %li
        %a{:href => "#"} November 2006
      %li
        %a{:href => "#"} October 2006
      %li
        %a{:href => "#"} September 2006
      %li#archive-active
        %a{:href => "#"} August 2006
      / Active
      %li
        %a{:href => "#"} July 2006
      %li
        %a{:href => "#"} June 2006
      %li
        %a{:href => "#"} May 2006
      %li
        %a{:href => "#"} April 2006
      %li
        %a{:href => "#"} March 2006
      %li
        %a{:href => "#"} February 2006
      %li
        %a{:href => "#"} January 2006
    %hr.noscreen/
    / Links
    %h3
      %span Links
    %ul#links
      %li
        %a{:href => "#"} Something
      %li
        %a{:href => "#"} Something
      %li
        %a{:href => "#"} Something
      %li
        %a{:href => "#"} Something
      %li
        %a{:href => "#"} Something
    %hr.noscreen/
  / /col-in
